@media only screen and (max-width: 1044px) {
    #events-container{
        flex-direction: column;
    }
  }
 

  @media only screen and (max-width:  734px) {
    
    #events-container #event-details{
        min-width: 420px !important;
    }

}



@media only screen and (max-width:  542px) {
    
    #events-container #event-details{
        min-width: 220px !important;
    }

}



@media only screen and (max-width:  324px) {
    
    #events-container{
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }

}
