@media only screen and (max-width: 933px) {
    #sub-featured-image-container   #sub-featured-image-header-text{
    font-size: 2.5rem !important;
  }
}

@media only screen and (max-width: 889px) {
    #sub-featured-image-container {
    padding-left: 5rem !important;
    padding-right: 5rem !important;
  }
}

@media only screen and (max-width: 769px) {
  #sub-featured-image-container   #sub-featured-image-header-text{
    font-size: 2.2rem !important;
  }
}

@media only screen and (max-width: 535px) {
    #sub-featured-image-container{
    padding-left: 3rem !important;
    padding-right: 3rem !important;
  }
}
