<!--
  templateType: page
  isAvailableForNewContent: true
  label: Programmes
  screenshotPath: ../images/ProgrammeTemplate.png
-->
{% extends "./layouts/base.html" %} {% block body %} {% dnd_area "dnd_area"
label="Main section", class="body-container body-container--programmes" %} {#
Hero banner #} {% include_dnd_partial path="../sections/featured_image.html" %}
{# Side by Side #} {% include_dnd_partial path="../sections/side_by_side.html"
%} {# Side by Side two #} {% include_dnd_partial
path="../sections/side_by_side.html" %} {# Side by Side #} {%
include_dnd_partial path="../sections/side_by_side.html" %} {# Side by Side two
#} {% include_dnd_partial path="../sections/side_by_side.html" %} {# Side by
Side two #} {% include_dnd_partial path="../sections/side_by_side.html" %} {%
end_dnd_area %} {% endblock body %}
